DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shorten_url?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
APP_BASE_URL="http://localhost:3000"
IP_HASH_SECRET="replace-with-openssl-rand-base64-32"
